---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import {
  cityComments,
  cityRoutes
} from "../../../data/schedule";
import ScheduleTable
  from "../../../components/ScheduleTable/ScheduleTable.astro";
import ScheduleComment
  from "../../../components/ScheduleComment/ScheduleComment.astro";

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout title="Расписание" sidebarItems={sidebarItems}>
  <Section
    title=`Городские маршруты`
    subtitle="Расписание"
    ariaName="title-block"
    isInfo
    isH1
  ></Section>
  <ScheduleTable routes={cityRoutes} />
  <ScheduleComment comments={cityComments}/>
</SectionLayout>
