---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout title="Расписание" sidebarItems={sidebarItems}>
  <h1>Расписание городских маршрутов</h1>
  <p>Информация о расписании городских автобусов. Данные уточняются.</p>
</SectionLayout>
