---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import Vacansies from "../../../components/Vacansies/Vacansies.astro";
import { vacansiesData } from '../../../data/vacancies';

const sidebarItems = getSidebarItems('/about');
---

<SectionLayout
  title="О предприятии"
  pageTitle="Вакансии"
  description="Открытые вакансии ООО АВТО в Киришах. Водитель автобуса и другие должности."
  sidebarItems={sidebarItems}
>
  <Section
    title=`Вакансии`
    subtitle="О предприятии"
    ariaName="title-block"
    isInfo
    isH1
  />
  <Section
    title={vacansiesData.title}
    ariaName="title-vacans"
    isInfo
  >
    <Vacansies data={vacansiesData} />
  </Section>
</SectionLayout>
