@use "../../styles/core" as *;

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: fluid(100, 50);
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding-block: fluid(10,7);
    text-decoration: none;
    color: var(--text-primary);
    transition: background 0.3s ease, color 0.3s ease;

    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: var(--border-accent);
      transition: width 0.3s ease;
    }
  }

  &__item:hover > &__link::after,
  &__item.active > &__link::after {
    width: 100%;
  }

  &__item.active > &__link {
    color: var(--accent-color);
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    gap: 30px;
    padding: 10px;
    list-style: none;
    background: var(--bg-secondary);
    border-radius: 0 var(--radius-lg) var(--radius-lg) var(--radius-lg);
//    box-shadow: var(--shadow-md);
    border: 1px solid var(--border-gray);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: var(--z-index-submenu);

    &__item {
      & > .menu__submenu__link {
        display: block;
        padding: 5px 12px;
        text-decoration: none;
        color: var(--text-primary);
        white-space: nowrap;
        transition: background 0.2s ease, color 0.2s ease;

        &:hover {
          color: var(--accent_color);
        }
      }
    }
  }

  &__item:hover > &__submenu,
  &__item.active > &__submenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
