---
import {getSidebarItems} from "../../../data/pathMenu";
import SectionLayout from "../../../layouts/SectionLayout/SectionLayout.astro";
import Section from "../../../components/Section/Section.astro";
import News from "../../../components/News/News.astro";
import {newsList} from "../../../data/news";
const sidebarItems = getSidebarItems('/about');
---

<SectionLayout
  title="О предприятии"
  sidebarItems={sidebarItems}
  pageTitle="Новости"
>
  <Section
    title=`Новости`
    subtitle="О предприятии"
    ariaName="title-block"
    isInfo
    isH1
  />
  <Section ariaName="title-news" title="Все новости" isInfo>
    <News newsList={newsList} showPagination currentPage={1} />
  </Section>

</SectionLayout>