---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/about');
---

<SectionLayout title="О предприятии" sidebarItems={sidebarItems}>
  <h1>Документы</h1>
  <p>Документы предприятия.</p>
</SectionLayout>
