---
import Footer from '../Footer/Footer.astro'
import Header from "../Header/Header.astro";
import BackToTop from "../../components/BackToTop/BackToTop.astro";
import styles from './Layout.module.scss'

import "../../styles/main.scss";
---

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
  <meta name="description" content="Официальные пассажирские перевозки в Киришах и районе: расписание и маршруты на сайте. Обучение вождению в нашей автошколе." />
  <meta name="keywords" content="Киришские пассажирские автоперевозки" />
  <link
    rel="icon"
    type="image/x-icon"
    href="/favicons/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicons/favicon-32x32.png"
  />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="manifest" href="/favicons/site.webmanifest" />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>Киришские пассажирские автоперевозки</title>
</head>
<body class={styles.layout}>
<div class={styles.headerStickySentinel} data-header-sticky-sentinel aria-hidden="true"></div>
<Header />
<main class={`${styles.main} container`}>
  <slot />
</main>
<Footer />
<BackToTop threshold={1000} />

<script src="../../scripts/main.ts"></script>
</body>
</html>
