---
import Footer from '../Footer/Footer.astro'
import Header from "../Header/Header.astro";
import BackToTop from "../../components/BackToTop/BackToTop.astro";
import styles from './Layout.module.scss'

import "../../styles/main.scss";
---

<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="favicons/favicon.svg"
  />
  <link
    rel="icon"
    href="favicons/favicon.ico"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>Киришские пассажирские автоперевозки</title>
</head>
<body class={styles.layout}>
<div class={styles.headerStickySentinel} data-header-sticky-sentinel aria-hidden="true"></div>
<Header />
<main class={`${styles.main} container`}>
  <slot />
</main>
<Footer />
<BackToTop threshold={1000} />

<script src="../../scripts/main.ts"></script>
</body>
</html>
