

:root {
  --bg-color: var(--color-white);
  --bg-secondary: var(--color-primary-100);

  --main-text-color: var(--color-gray-900);
  --accent-text-color: var(--color-dark-blue);
  --light-text-color: var(--color-gray-600);

  --bg-button: var(--color-primary-600);
  --bg-button-hover: var(--color-primary-700);

  --border-gray: var(--color-gray-200);
  --border-accent: var(--color-primary-600);

}