

:root {
  --accent-color: var(--color-primary-600);
  --accent-shedule-bg: var(--color-primary-500);

  --bg-color: var(--color-primary-1);
  --bg-secondary: var(--color-white);

  --main-text-color: var(--color-gray-900);
  --accent-text-color: var(--color-dark-blue);
  --light-text-color: var(--color-gray-600);

  --bg-button: var(--color-primary-600);
  --text-button: var(--color-white);
  --bg-button-hover: var(--color-primary-700);

  --border-gray: var(--color-gray-200);
  --border-accent: var(--color-primary-600);
  --border-light: var(--color-primary-100);

  --color-link: var(--color-primary-600);

  --attention: var(--color-red);
  --information: var(--color-green);

  --bg-submenu: var(--color-primary-50);
  --text-submenu: var(--color-primary-700);
}