:root {
  --color-primary-600: #1E88E5;
  --color-primary-700: #1565C0;
  --color-primary-100: #E3F2FD;
  --color-primary-50:  #F5FAFF;

  --color-white: #FFFFFF;
  --color-gray-900: #1F2937;
  --color-gray-600: #4B5563;
  --color-gray-500:  #d1d5db;
  --color-gray-200: #E5E7EB;

  --color-dark-blue: #0F172A;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --font-family-base: 'Inter', sans-serif;

  --transition-duration: .2s;

  --z-index-submenu: 10;
}