---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/about');
---

<SectionLayout title="О предприятии" sidebarItems={sidebarItems}>
  <h1>История предприятия</h1>
  <p>История Киришских пассажирских автоперевозок.</p>
</SectionLayout>
