---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import Schedule from '../../../components/Schedule/Schedule.astro';
import { suburbanRoutes } from '../../../data/schedule';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout title="Расписание" sidebarItems={sidebarItems}>
  <Section
    title=`Пригородные маршруты`
    subtitle="Расписание"
    ariaName="title-block"
    isInfo
    isH1
  ></Section>
  <Schedule routes={suburbanRoutes} />
</SectionLayout>
