---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import ScheduleTable from '../../../components/ScheduleTable/ScheduleTable.astro';
import { suburbanRoutes, suburbanComments } from '../../../data/schedule';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import ScheduleComment
  from "../../../components/ScheduleComment/ScheduleComment.astro";

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout title="Расписание" sidebarItems={sidebarItems}>
  <Section
    title=`Пригородные маршруты`
    subtitle="Расписание"
    ariaName="title-block"
    isInfo
    isH1
  ></Section>
  <ScheduleTable routes={suburbanRoutes}/>
  <ScheduleComment comments={suburbanComments}/>

</SectionLayout>
