---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import Schedule from '../../../components/Schedule/Schedule.astro';
import { sampleSchedule } from '../../../data/schedule';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout title="Расписание" sidebarItems={sidebarItems}>
  <h1>Расписание пригородных маршрутов</h1>
  <Schedule routes={sampleSchedule} />
</SectionLayout>
