---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import ScheduleTable
  from '../../../components/ScheduleTable/ScheduleTable.astro';
import {suburbanRoutes, suburbanComments} from '../../../data/schedule';
import {getSidebarItems} from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import ScheduleComment
  from "../../../components/ScheduleComment/ScheduleComment.astro";
import Message from "../../../components/Message/Message.astro";

const sidebarItems = getSidebarItems('/schedule');
---

<SectionLayout
  title="Расписание"
  sidebarItems={sidebarItems}
>
  <Section
    title=`Пригородные маршруты`
    subtitle="Расписание"
    ariaName="title-block"
    isInfo
    isH1
  >
    <p>c 01.01.2026 по 30.01.2026</p>
    <Message
      message="Рейсы на СПБ отменены"
      type="attention"
    />
    <Message
      message="C 01.04.2026 действует новое расписание"
      type="comment"
    />
  </Section>
  <ScheduleTable routes={suburbanRoutes} />
  <ScheduleComment comments={suburbanComments} />
  <Message
    message="В процессе перевозок возможны изменения и дополнения в расписании о чем будет дополнительно информировано."
    type="information"
  />
</SectionLayout>
