---
import Layout from '../layouts/Layout/Layout.astro';
import Link from '../components/Link/Link.astro';
---

<Layout>
  <h1>Страница не найдена</h1>
  <p>Запрашиваемая страница не существует или была перемещена.</p>
  <p>
    <Link href="/" label="Вернуться на главную" />
  </p>
</Layout>
