---
import Layout from '../layouts/Layout/Layout.astro';
import Section from "../components/Section/Section.astro";
import News from "../components/News/News.astro";
---

<Layout>
  <h1>Киришские пассажирские автоперевозки</h1>
  <Section
    title="Новости"
    ariaName="news-block"
    isInfo=true
  >
    <News />
  </Section>
  <Section
    title="Документы"
    ariaName="document-block"
    isInfo=true
  >
    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
  </Section>
  <Section
    title="Страхование"
    ariaName="enchurias-block"
  >
    <h3>номер страховки</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aut corporis ducimus ea eaque earum eos, ex itaque, laborum laudantium numquam officiis perspiciatis placeat porro quisquam quod reiciendis sequi sint, suscipit vel voluptate voluptatibus. A aliquid, amet beatae consectetur consequuntur iste nemo nobis, odit quam quia quibusdam, quis veritatis!</p>
  </Section>
</Layout>
