---
import Layout from '../layouts/Layout/Layout.astro';
import Section from "../components/Section/Section.astro";
import News from "../components/News/News.astro";
import Docs from "../components/Docs/Docs.astro";
import {newsList} from '../data/news';
import {linksIndex} from "../data/links";
import Insurance from "../components/Insurance/Insurance.astro";
---

<Layout
  title="Главная"
  description="Официальный сайт ООО АВТО, ООО КПАП — пассажирские перевозки в Киришах и Киришском районе. Расписание автобусов, контакты, автошкола."
>
  <Section
    title=`ООО&nbsp;“Авто”, ООО&nbsp;“КПАП”`
    subtitle="Официальный сайт"
    ariaName="title-block"
    isInfo
    isH1
  ></Section>
  <Section
    title="Страхование"
    ariaName="enchurias-block"
    isInfo
  >
    <Insurance />
  </Section>
  <Section
    title="Новости"
    ariaName="news-block"
    isInfo
    buttonLabel="Все новости"
    href="/about/news"
    style='button'
  >
    <News newsList={newsList} numberNewsItems={3}/>
  </Section>
  <Section
    title="Документы"
    ariaName="document-block"
    isInfo
    buttonLabel="Все документы"
    href="/about/documents"
    style='button'
  >
    <Docs links={linksIndex} numberDocsItems={2}/>
  </Section>
</Layout>
