---
import Layout from '../layouts/Layout/Layout.astro';
import Section from "../components/Section/Section.astro";
import News from "../components/News/News.astro";
import Docs from "../components/Docs/Docs.astro";

const docs = [
  { href: '/docs/availability.jpg', title: 'Информация о доступности ТС для инвалидов и лиц с ограниченными возможностями' },
  { href: '/docs/collectiveImmunity.pdf', title: 'Паспорт коллективного иммунитета' },
];
---

<Layout>
  <h1>Киришские пассажирские автоперевозки</h1>
  <Section
    title="Новости"
    ariaName="news-block"
  >
    <News />
  </Section>
  <Section
    title="Документы"
    ariaName="document-block"
  >
    <Docs links={docs}/>
  </Section>
  <Section
    title="Страхование"
    ariaName="enchurias-block"
  >
    <p>В соответствиии с Федеральным законом «Об обязательном страховании гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров» с Открытым страховым акционерным обществом «Ингосстрах», находящемуся по адресу: 196066, Санкт-Петербург, пр. Московский, д. 155, заключены следующие договора:</p>
    <p>ООО "АВТО" № IGSX22540167821000 cрок страхования с 26 марта 2025 г. по 25 марта 2026 г.</p>
</Section>
</Layout>
