---
import styles from './Insurance.module.scss'
---

<div class={styles.insurance}>
  <p class={styles.info}>В соответствии с Федеральным законом «Об обязательном страховании гражданской ответственности перевозчика за причинение вреда жизни, здоровью, имуществу пассажиров» с Открытым страховым акционерным обществом «Ингосстрах», находящемуся по адресу: 196066, Санкт-Петербург, пр. Московский, д. 155, заключены следующие договоры:</p>
  <p class={styles.number}>ООО "АВТО" № IGSX22540167821000 срок страхования с 26 марта 2025 г. по 25 марта 2026 г.</p>
</div>