---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/driving-school');
---

<SectionLayout title="Автошкола" sidebarItems={sidebarItems}>
  <h1>Документы автошколы</h1>
  <p>Перечень документов и нормативных актов.</p>
</SectionLayout>
