@use "../../styles/core" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: fluid(25,15);


  &.block {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-gray);
    padding: var(--space-3);
    border-radius: var(--radius-lg);

    @include tablet {
      padding: var(--space-2);
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    flex: 1;
  }
  .subtitle {
    font-size: fluid(16, 14);
    font-weight: 300;
    color: var(--light-text-color);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: fluid(20,15);
  }

  .button {
    align-self: end;
  }
}