---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import CardPrice from "../../../components/CardPrice/CardPrice.astro";
import {basePrice} from "../../../data/driving-school";
import Message from "../../../components/Message/Message.astro";
import PaymentAndEnrollment
  from "../../../components/PaymentAndEnrollment/PaymentAndEnrollment.astro";

const sidebarItems = getSidebarItems('/driving-school');
---

<SectionLayout title="Автошкола" sidebarItems={sidebarItems}>
  <Section
    title=`Информация об автошколе`
    subtitle="Автошкола"
    ariaName="title-block"
    isInfo
    isH1
  >
    <p>Ведется обучение на категорию: <span>"B", "C", "D", Перевозка опасных грузов</span></p>

    <div>
      <p>Режим работы:</p>
      <p>C понедельника по четверг: <span></span> с 8:00 до 17:15</p>
      <p>Пятница: <span>с 8:00 до 16:00</span> </p>
      <p>Обед: <span>с 12:00 до 13:00</span> </p>
    </div>

    <p>Телефон для справок: <span>8(813-68)46-751, 8-965-009-11-09</span> </p>
  </Section>
  <CardPrice prices={basePrice}/>
  <Message
    message="Стоимость обучения в автошколе включает в себя: занятия по теоретическому курсу и занятия по практическому вождению."
  />
  <Section
    title="Порядок оплаты, график занятий и документы для поступления"
    ariaName="info-block"
  >
    <PaymentAndEnrollment />
  </Section>

</SectionLayout>
