---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';
import Section from "../../../components/Section/Section.astro";
import CardPrice from "../../../components/CardPrice/CardPrice.astro";
import {basePrice} from "../../../data/driving-school";
import Message from "../../../components/Message/Message.astro";
import PaymentAndEnrollment
  from "../../../components/PaymentAndEnrollment/PaymentAndEnrollment.astro";
import DrivingSchoolGeneralInfo
  from "../../../components/DrivingSchoolGeneralInfo/DrivingSchoolGeneralInfo.astro";

const sidebarItems = getSidebarItems('/driving-school');
---

<SectionLayout title="Автошкола" sidebarItems={sidebarItems}>
  <Section
    title=`Информация об автошколе`
    subtitle="Автошкола"
    ariaName="title-block"
    isInfo
    isH1
  >
    <DrivingSchoolGeneralInfo />
  </Section>
  <CardPrice prices={basePrice}/>
  <Message
    message="Стоимость обучения в автошколе включает в себя: занятия по теоретическому курсу и занятия по практическому вождению."
  />
  <Section
    title="Порядок оплаты, график занятий и документы для поступления"
    ariaName="info-block"
  >
    <PaymentAndEnrollment />
  </Section>

</SectionLayout>
