---
import SectionLayout from '../../../layouts/SectionLayout/SectionLayout.astro';
import { getSidebarItems } from '../../../data/pathMenu';

const sidebarItems = getSidebarItems('/driving-school');
---

<SectionLayout title="Автошкола" sidebarItems={sidebarItems}>
  <h1>Информация об автошколе</h1>
  <p>Общая информация об автошколе при предприятии пассажирских автоперевозок.</p>
</SectionLayout>
