@use "../../styles/core" as *;

.sidebar {
  flex-shrink: 0;
  width: 100%;
  max-width: 250px;
  min-width: fluid(250, 150);

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


  &__link {
    display: block;
    padding: var(--space-1) var(--space-2);
    color: var(--main-text-color);
    text-decoration: none;
    border-radius: var(--radius-sm);
    transition: background-color var(--transition-duration), color var(--transition-duration);

    &:hover {
      background-color: var(--bg-secondary);
      color: var(--color-primary-600);
    }

    &_active {
      background-color: var(--bg-submenu);
      color: var(--text-submenu);
      font-weight: 600;
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--space-1);
    align-items: center;
    padding-bottom: var(--space-1);
    border-bottom: 1px solid var(--border-gray);
  }

  &__tab {
    flex-shrink: 0;
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    color: var(--main-text-color);
    text-decoration: none;
    border-radius: var(--radius-sm);
    white-space: nowrap;
    transition: background-color var(--transition-duration), color var(--transition-duration);

    &:hover {
      background-color: var(--bg-secondary);
      color: var(--accent-color);
    }

    &_active {
      background-color: var(--bg-submenu);
      color: var(--text-submenu);
      font-weight: 600;
    }
  }
}
