---
export interface SidebarItem {
  href: string;
  title: string;
}

interface Props {
  title: string;
  items: SidebarItem[];
}

const { title, items } = Astro.props;

import styles from './Sidebar.module.scss';
import SidebarNav from './SidebarNav.astro';
---

<aside class={styles.sidebar} aria-label={title}>
  <nav>
    <SidebarNav items={items} />
  </nav>
</aside>
