---
interface Props {
  href: string;
  label?: string;
  className?: string;
  isButton?: boolean;
}

const {href, label = 'Oзнакомиться с изменениями можно по ссылке', className='', isButton = false} = Astro.props;

import styles from './Link.module.scss'
---

<a href={href} class = {`${isButton ? styles.button : styles.link} ${className ? className : '' }`} >
  {label}
</a>