@use "../core" as *;

body {
  @include fluid-text(18, 14);


  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--light-text-color);

  background-color: var(--bg-blue);
}

.container {
  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin: 0 auto;
  padding-inline: var(--container-padding-x);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  //text-decoration: none;
}

h1 {
  margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-base);
  color: var(--main-text-color);
  line-height: .7;
  font-weight: 600;
}

h1, .h1 {
  font-size: fluid(32, 24);
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 30%; /* длиннее линии */
    height: 4px;
    margin-top: var(--space-2);
    border-radius: var(--radius-sm);
    background: linear-gradient(90deg, var(--color-primary-600), var(--color-white));
  }
}

h2, .h2 {
  font-size: fluid(24, 20);
  color: var(--accent-text-color);
}

h3, .h3 {
  font-size: fluid(20, 18);
  color: var(--accent-text-color);
  font-weight: 500;
}